@import "variables";
@import "mixins";

.account-page {
  @include d-flex(flex-start, stretch, 30px);

  padding-top: 30px;
  min-height: 500px;

  &__menu {
    padding: 30px;
    flex: 0 0 300px;
    background-color: var(--background-color-secondary);
  }

  &__tabs {
    padding: 30px;
    flex-grow: 1;
    background-color: var(--background-color-secondary);
  }
}
