@import "variables";
@import "mixins";

#dialog-host {
}

.app-dialog-overlay {
  @include d-flex(center, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  &.opened {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .app-dialog-wrapper {
    margin: 0 10px;
    width: min-content;
  }
}

// GENERAL DIALOG STYLES
.app-dialog {
  background-color: var(--background-color);
  color: var(--text-color);

  .dialog-title {
    padding: 20px;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
  }

  .dialog-content {
    padding: 15px 20px 25px;
    font-size: 15px;
  }

  .dialog-actions {
    @include d-flex(flex-end, center, 10px);

    padding: 10px 20px;

    button {
      padding: 8px 10px;
      min-width: 120px;
      background-color: var(--background-color-secondary);
      color: var(--text-color-secondary);
      font-size: 15px;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var(--text-color);
        transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out;
      }
    }
  }
}
