@import "mixins";

#dialog-host {
}

.app-dialog-overlay {
  @include d-flex(center, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  &.opened {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .app-dialog-wrapper {
    margin: 0 10px;
    max-width: min-content;
  }
}
