@import "mixins";

.random-dialog {
  @include d-flex(flex-start, stretch, 0, column);

  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);
  width: 500px;
  min-height: 300px;

  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
  }

  &__content {
    padding: 20px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.1;
    flex-grow: 1;
  }

  &__actions {
    @include d-flex(flex-end, center, 10px);

    padding: 10px;

    button {
      background-color: var(--background-color-primary);
      color: var(--text-color-primary);
      font-size: 13px;
      padding: 5px 15px;
    }
  }
}
