@import "mixins";

.login-page {
  padding-top: 15px;
  text-align: center;

  h1 {
    font-size: 30px;
    text-align: center;
  }

  &__form {
    max-width: 500px;
    padding: 10px 15px;
    margin: 0 auto;

    .disclaimer {
      @include d-flex(space-between, flex-start);

      gap: 10px;
      margin-top: 20px;
      padding: 0 10px;
      font-size: 13px;
      text-align: left;

      a {
        text-decoration: underline;
        color: var(--text-color-primary);
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
