@import "mixins";

.login-page {
  text-align: center;

  .title {
    font-size: 30px;
  }

  .sub-title {
    font-size: 14px;
    color: var(--font-color-secondary);
    font-weight: normal;
  }
}
