<div class="login-page">
  <h1>Sign In to Exora</h1>

  <div class="login-page__form">
    @if (loginForm) {
      <app-login-form
        [loginForm]="loginForm"
        [showErrorMessage]="showErrorMessage()"
        [isLoading]="isLoading()"
        (submitLoginForm)="signIn()"
      />
    }

    <div class="disclaimer">
      <div class="sign-up">
        Don't have an account yet?
        <a routerLink="/sign-up">Sign Up</a>
      </div>

      <div class="forgot-password">
        <a>Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
