@import "mixins";

.header-auth {
  @include d-flex(center, center);

  &__theme-toggle {
    padding: 5px 20px;
    margin-right: 10px;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.1;
    border-right: 1px dashed var(--text-color-secondary);
    cursor: pointer;
  }

  &__user-info {
    @include d-flex(center, center);

    .user-name {
      font-size: 13px;
      font-weight: 600;
      padding: 0 10px;
    }

    button {
      padding: 5px;
      font-size: 13px;
      border: none;
      cursor: pointer;
      color: var(--text-color-secondary);

      &:hover {
        color: var(--text-color-primary);
      }
    }
  }

  &__log-in {
    a {
      font-size: 13px;
      line-height: 1.1;
      color: var(--text-color-secondary);

      &:hover {
        color: var(--text-color-primary);
      }
    }
  }
}
