@import "mixins";
@import "variables";

.boot-overlay {
  @include d-flex(center, center, 15px, column);

  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  z-index: $z-overlay;

  &__message {
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
  }
}
