<div
  class="app-select"
  tabindex="0"
  (keydown)="processKeyDown($event)"
  (clickOutside)="toggleDropdown(false)"
>
  <div class="select-input-wrapper" #selectInputWrapper (click)="toggleDropdown()">
    <div #projectionWrapper class="selected-option-projection">
      @if (!projectedContent()) {
        <div class="placeholder">{{ placeholder() }}</div>
      }
    </div>
    <div class="toggle" [ngClass]="{ opened: dropdownOpened() }">></div>
  </div>

  @if (dropdownOpened()) {
    <div class="dropdown-wrapper" [attachedTo]="selectInputWrapper">
      <ng-content />
    </div>
  }
</div>
