<form class="login-form" [formGroup]="loginForm" (formSubmit)="submitLoginForm.emit()">
  <div class="login-form__controls">
    <div class="form-control">
      <label>Email</label>
      <input placeholder="Enter Email" formControlName="email" />
      <app-input-error controlName="email" />
    </div>

    <div class="form-control">
      <label>Password</label>
      <input
        placeholder="Enter Password"
        type="password"
        autocomplete="new-password"
        formControlName="password"
      />
      <app-input-error controlName="password" />
    </div>
  </div>

  <div class="form-error" [class.show-error]="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="login-form__actions">
    <button class="form-submit" [loadingButton]="isLoading">Submit</button>
  </div>
</form>
