@if (sourceControl) {
  <div class="date-picker-wrapper" (clickOutside)="toggleCalendar(false)">
    <div class="form-control">
      <div class="input-wrapper">
        <input
          readonly
          [formControl]="innerControl"
          [placeholder]="placeholder()"
          (click)="toggleCalendar()"
        />
        <div class="picker-trigger">></div>
      </div>

      <app-input-error [control]="sourceControl" />
    </div>

    @if (calendarOpened()) {
      @let placement = calendarPlacement();

      <div
        class="calendar-wrapper"
        [ngClass]="{ 'position-above': placement.position === positionEnum.Above }"
        [style.top]="placement.top ? placement.top + 'px' : ''"
        [style.left]="placement.left + 'px'"
        [style.bottom]="placement.bottom ? placement.bottom + 'px' : placement.bottom"
      >
        <app-calendar [selectedDate]="sourceControl.value" (dateSelected)="updateValue($event)" />
      </div>
    }
  </div>
}
