@if (sourceControl) {
  <div class="date-picker-wrapper">
    <div class="form-control">
      <div class="input-wrapper">
        <input
          readonly
          [formControl]="innerControl"
          [placeholder]="placeholder()"
          (click)="toggleCalendar()"
        />
        <div class="picker-trigger">></div>
      </div>

      <app-input-error [control]="sourceControl" />
    </div>

    @if (calendarOpened()) {
      <div class="calendar-wrapper" (clickOutside)="toggleCalendar(false)">
        <app-calendar [selectedDate]="sourceControl.value" (dateSelected)="updateValue($event)" />
      </div>
    }
  </div>
}
