.date-picker-wrapper {
  position: relative;

  .input-wrapper {
    position: relative;

    .picker-trigger {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    input {
      cursor: pointer;
    }
  }

  .calendar-wrapper {
    position: fixed;
    transition: opacity 0.2s ease;
    padding: 10px;
    background-color: var(--background-color-secondary);
  }
}
