@if (sourceControl) {
  <div class="date-picker-wrapper" (clickOutside)="toggleCalendar(false)">
    <div #datePickerControl class="form-control" (click)="toggleCalendar()">
      <div class="input-wrapper">
        <input readonly [formControl]="innerControl" [placeholder]="placeholder()" />
        <div class="picker-trigger">></div>
      </div>

      <app-input-error [control]="sourceControl" />
    </div>

    @if (calendarOpened()) {
      <div class="calendar-wrapper" [attachedTo]="datePickerControl" [matchParentWidth]="'never'">
        <app-calendar [selectedDate]="sourceControl.value" (dateSelected)="updateValue($event)" />
      </div>
    }
  </div>
}
