@import "variables";

.app-wrapper {
  .header-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .content {
    max-width: $app-max-width;
    margin: 0 auto;
    padding: calc($header-height + 40px) 20px 30px;
  }
}

.initialization-overlay {

}
