@import "mixins";

.sign-up-page {
  padding-top: 15px;
  text-align: center;

  &__header {
    .title {
      font-size: 30px;
    }

    .sub-title {
      font-size: 14px;
      color: var(--font-color-secondary);
      font-weight: normal;
    }
  }

  &__form {
    max-width: 500px;
    padding: 10px 15px;
    margin: 0 auto;

    .disclaimer {
      gap: 10px;
      margin-top: 30px;
      padding: 0 10px;
      font-size: 13px;

      a {
        text-decoration: underline;
        color: var(--font-color-primary);
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
