<div class="sign-up-page">
  <div class="sign-up-page__header">
    <h1 class="title">Welcome to EXORA!</h1>
    <div class="sub-title">Sign Up by providing your information below</div>
  </div>

  <div class="sign-up-page__form">
    @if (signUpForm) {
      <app-sign-up-form
        [signUpForm]="signUpForm"
        [isLoading]="isLoading()"
        [showErrorMessage]="showErrorMessage()"
        (submitSignUpForm)="signUp()"
      />
    }

    <div class="disclaimer">
      <div class="sign-in">
        Already have an account?
        <a routerLink="/login">Sign In</a>
      </div>
    </div>
  </div>
</div>
