@import "mixins";

.sign-up-page {
  padding-top: 15px;

  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__form {
    max-width: 500px;
    padding: 10px 15px;
    margin: 0 auto;

    .disclaimer {
      gap: 10px;
      margin-top: 30px;
      padding: 0 10px;
      font-size: 13px;
      text-align: center;

      a {
        text-decoration: underline;
        color: var(--text-color-primary);
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
