@import "variables";
@import "mixins";

.calendar {
  $cell-width: 40px;

  .header {
    @include d-flex(space-between, center, 10px);

    padding: 10px 10px 20px;
    font-size: 18px;

    .month-title {
      text-align: center;
      font-weight: 600;
    }
  }

  .days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;

    .day-of-week {
      @include d-flex(center, center);

      font-size: 14px;
      width: $cell-width;
      height: calc($cell-width * 0.7);
    }
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;

    .day {
      @include d-flex(center, center);

      width: $cell-width;
      height: $cell-width;
      background-color: var(--background-color);
      color: var(--text-color-secondary);
      cursor: pointer;

      &:hover {
        font-weight: bold;
        border: 2px solid var(--border-color-muted);
      }

      &.selected {
        font-weight: bold;
        border: 2px solid var(--text-color-primary);
        color: var(--text-color-primary);
      }
    }
  }

  .controls {
    @include d-flex(center, center, 30px);

    padding: 20px 0;

    .control {
      flex-grow: 1;
      font-size: 15px;
      padding: 10px 0;
      cursor: pointer;
      border: 1px solid var(--border-color);
    }
  }
}
