<div class="services-page">
  <h1 class="title">Services</h1>

  <div class="services-page__content">
    @let services = query.services$ | async;

    <div class="create-new">
      <a routerLink="/new-service">Create New Service</a>
    </div>

    <div class="services-list">
      @for (service of services; track service.id) {
        <div class="services-list__service">
          <app-service-card [service]="service" />
        </div>
      } @empty {
        @if (services !== null) {
          <div class="no-services">There are no services created...</div>
        } @else {
          <app-loading-spinner />
        }
      }
    </div>
  </div>
</div>
