@import "./mixins";

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: Poppins, sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
a {
  font-family: Poppins, sans-serif;
  color: var(--text-color-primary);
  background-color: var(--background-color);
}

a {
  color: var(--text-color-primary);
  text-decoration: none;
}

input {
  background-color: transparent;
  color: var(--text-color-primary);
}

body,
html {
  @include scrollbar();
}

label {
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 400;
}
