@import "mixins";
@import "variables";

.header {
  background-color: var(--background-color);
  height: $header-height;

  &__content {
    @include d-flex(space-between, center, 20px);

    max-width: $app-max-width;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;

    .auth-section {
      @include d-flex(flex-end, center);

      width: 200px;
    }

    .logo-section {
      width: 200px;

      .logo {
        @include d-flex(center, center);

        width: fit-content;
        padding: 0 10px;
        height: 40px;
        border-left: 4px solid var(--text-color-primary);
        cursor: pointer;

        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .navigation {
      flex-grow: 1;
    }
  }
}
